<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Exclusive</title>

    <!-- Include TailwindCSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Link to Font Awesome CSS -->
    <link href="~/lib/fontawesome-free-6.6.0-web/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="bg-gray-100">
    <!-- Header and Navigation -->
    @Html.Partial("_Header") <!-- Assuming the header & nav is placed in _Header.cshtml -->

    @Html.Partial("~/Views/Components/_Navbar.cshtml")
    <!-- Main content section for each view -->
    <main class="container mx-auto p-6">
        @RenderBody()
    </main>

    <!-- Footer -->
    @Html.Partial("_Footer")

    <!-- Scripts -->
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
